<!DOCTYPE html>
<html lang="es">
<head>
    <!--== Meta tags ==-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--== Title ==-->
    <title>Talprice - "Precios transparentes, decisiones fáciles" || Home</title>
    <!--== Favicon Icon ==-->
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
    <!--== Swiper Slider ==-->
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <!--== Bootstrap ==-->
    <link rel="stylesheet" href="static/css/bootstrap-5.0.2.min.css">
    <!--== Main Style ==-->
    <link rel="stylesheet" href="static/css/style.css">
    <!--== Responsive Style ==-->
    <link rel="stylesheet" href="static/css/responsive.css">
</head>
<body>

    <!-- Page Wrapper Start -->
    <div class="page-wrapper">
        <!-- Page Header Start -->
        <header class="page-header fixed-header">
            <div class="container-fluid">
                <div class="header-content">
                    <!-- Header Logos -->
                    <a href="/" class="logo">
                        <span class="logo-light">
                            <img src="static/images/logos/logo-ecompare-32.png" alt="Logo" >
                        </span>
                        <span class="logo-dark">
                            <img src="static/images/logos/logo-ecompare-32.png" alt="Logo" >
                    </a>
                    <!-- Header buttons -->
                    <div class="header-btns">                        
                        <button class="navbar-toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="header-content">
                        <img src="static/images/products/carrito.png" alt="" size="" srcset="" style="width: 53.333%;">
                    </div>
                    <!-- Mega menu full page -->
                    <div class="mega-menu">
                        <div class="container-fluid">
                            <div class="mega-menu-content">
                                <div class="mega-menu-info">
                                    <!-- Información de contacto - lateral izquierdo -->
                                    <div class="info-item">
                                        <h2>Centro</h2>
                                        <p>
                                            Talavera de la Reina<br/>
                                            Avenida Real Fábrica de Sedas,<br/>
                                            45600, Talavera De La Reina (Toledo) · < 1 km
                                        </p>
                                        <a href="tel:+34925721010" class="hover-underline">
                                            <span class="link-text">+34 925 72 10 10</span>
                                        </a>                                        
                                    </div>                                    
                                </div>
                                <!-- Info menu central -->
                                <ul class="mega-menu-items">
                                    <li>
                                        <a href="/" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">Home</span>
                                        </a>
                                    </li>                                    
                                    <p style="color: green;">                                    
                                        ________________________________ <br>
                                    </p>
                                    <!-- ECOMPARE -->
                                    <li>
                                        <a href="https://pruebasaluuclm-my.sharepoint.com/:x:/r/personal/paulinoesteban_bermudez_alu_uclm_es/Documents/Documentos/H4G/Estudio-de-datos.xlsx?d=w91398cc968384959bdc192a85624d8d0&csf=1&web=1&e=pehaMj" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">ECOMPARE</span>
                                        </a>
                                    </li>
                                    <!-- Supermercados Alcampo -->
                                    <li>
                                        <a href="https://pruebasaluuclm-my.sharepoint.com/:x:/g/personal/paulinoesteban_bermudez_alu_uclm_es/EcmMOZE4aFlJvcGSqFYk2NABR4yEkuouwRA9cMl8b4Ob0g?e=8ZZIlK&nav=MTVfe0YzMjc4RjQ2LTFBNkYtNDBCMC04RjdFLTE1MEYwNkI1NkNBQX0" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">ALCAMPO</span>
                                        </a>
                                    </li>
                                    <!-- end Dia-->
                                    <!-- Supermercados Dia -->
                                    <li>
                                        <a href="https://pruebasaluuclm-my.sharepoint.com/:x:/r/personal/paulinoesteban_bermudez_alu_uclm_es/Documents/Documentos/H4G/Estudio-de-datos.xlsx?d=w91398cc968384959bdc192a85624d8d0&csf=1&web=1&e=pehaMj" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">DIA</span>
                                        </a>
                                    </li>
                                    <!-- end Dia-->
                                    <!-- Carrefour -->
                                    <li>
                                        <a href="https://pruebasaluuclm-my.sharepoint.com/:x:/r/personal/paulinoesteban_bermudez_alu_uclm_es/Documents/Documentos/H4G/Estudio-de-datos.xlsx?d=w91398cc968384959bdc192a85624d8d0&csf=1&web=1&e=pehaMj" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">CARREFOUR</span>
                                        </a>
                                    </li>
                                    <!-- end Carrefour -->
                                    <!-- Mercadona -->
                                    <li>
                                        <a href="https://pruebasaluuclm-my.sharepoint.com/:x:/r/personal/paulinoesteban_bermudez_alu_uclm_es/Documents/Documentos/H4G/Estudio-de-datos.xlsx?d=w91398cc968384959bdc192a85624d8d0&csf=1&web=1&e=pehaMj" class="mega-menu-link hover-underline light-line link-cursor">
                                            <span class="link-text">MERCADONA</span>
                                        </a>
                                    </li>
                                    <!-- end mercadona -->
                                    
                                    <hr>
                                    
                                    <p style="color: green">
                                        ________________________________
                                    </p>
                                </ul>                                
                            </div>
                            <!-- Mega menu background video -->                                                            
                                <div class="menu-video">
                                    <video width="100" loop muted autoplay>
                                        <source src="static/images/video/supermarket.mp4" type="video/mp4">
                                    </video>
                                    <div  class="overlay"></div>
                                </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Header End -->

        <!-- Page Content -->
        <main class="page-main">
            <!-- Page Heading -->
            <section class="page-heading">
                <div class="container-fluid">
                    <div class="heading-full heading-center">
                        <div></div>
                        <div class="heading-titles">                                                        
                            <h5 class="title" style="color: rgb(18, 18, 18);">
                                <img src="static/images/partner/usersmall.png" alt="" style="padding-left: 15%;">                                 
                                UCLM - Hack 4 Food
                            </h5>
                            <h1 style="padding-left: 33.333%; font-size: 40px;" >
                                4090 <img src="static/images/ecoins/epoint.png" alt="" style="height: 15%; width: 15%;">                                
                            </h1>
                            <p>
                                <img src="static" alt="">
                            </p>
                        </div>                        
                        <div class="heading-bottom mobile-center">
                            <div class="scroll-down">
                                <span class="mouse-icon"></span>
                                Scroll down
                            </div>
                            <!-- 
                                <div class="hour current-hour">
                                loading...
                            </div>
                         -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Heading End -->

            <!-- Case Grid Start -->
            <section class="media-grid section-space">
                <div class="container-fluid">
                    <div class="media-grid-items">
                        <div class="row nomargin">
                            <div class="col-12 nopadding">
                                <a href="cases-single" class="media-grid-item hover-underline-trigger link-cursor">
                                    <div class="media-grid-img">
                                        <h3>Red Bull</h3>
                                        <img src="static/images/case/redbull.png" alt="Case">                                        
                                    </div>
                                    <button class="button">Añadir</button>
                                    <hr>
                                    <!--
                                    <div class="media-grid-text">                                        
                                        <h2 class="hover-underline light-line reverse">
                                            <span class="link-text">Bebida Energética Regula</span>
                                        </h2>
                                    </div>
                                    -->
                                    <div class="back-animation"></div>
                                </a>
                            </div>
                        </div>
                        <div class="row nomargin">
                            <div class="col-lg-6 col-12 nopadding">
                                <a href="cases-single" class="media-grid-item hover-underline-trigger link-cursor">
                                    <div class="media-grid-img">
                                        <h3>Croquetas Cocinera</h3>
                                        <img src="static/images/case/croquetas.png" alt="Case">
                                    </div>
                                    <button class="button">Añadir</button>
                                    <hr>
                                    <div class="media-grid-text">                                        
                                        <h2 class="hover-underline light-line reverse">
                                            <span class="link-text">en la entrega a domicilio</span>
                                        </h2>
                                    </div>
                                    <div class="back-animation"></div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 nopadding">
                                <a href="cases-single" class="media-grid-item hover-underline-trigger link-cursor">
                                    <div class="media-grid-img">
                                        <h3>Coca Cola</h3>
                                        <img src="static/images/case/cocacola.png" alt="Case">
                                    </div>
                                    <button class="button">Añadir</button>
                                    <hr>
                                    <div class="media-grid-text">                                        
                                        <h2 class="hover-underline light-line reverse">
                                            <span class="link-text">en la cesta de la compra</span>
                                        </h2>
                                    </div>
                                    <div class="back-animation"></div>
                                </a>
                            </div>
                            <div class="col-lg-6 col-12 nopadding">
                                <a href="cases-single" class="media-grid-item hover-underline-trigger link-cursor">
                                    <div class="media-grid-img">
                                        <h3>Pasta Gallo</h3>
                                        <img src="static/images/case/pastagallo.png" alt="Case">
                                    </div>
                                    <button class="button">Añadir</button>
                                    <hr>
                                    <div class="media-grid-text">                                        
                                        <h2 class="hover-underline light-line reverse">
                                            <span class="link-text">en la cesta de la compra</span>
                                        </h2>
                                    </div>
                                    <div class="back-animation"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Page Content End -->

        <!-- Page Footer -->
        <footer class="page-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer-column">
                            <h2 class="footer-title">Centro</h2>
                            <p>Talavera de la Reina<br/>
                                Avenida Real Fábrica de Sedas, s/n,<br/>
                                45600, Talavera De La Reina (Toledo) · < 1 km
                            </p>
                            <a href="tel:+34925721010" class="hover-underline">
                                <span class="link-text">+34 925 72 10 10</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="footer-column">
                            <h2 class="footer-title">Copyright</h2>
                            <a href="mailto:paulinoesteban.bermudez@alu.uclm.es" class="hover-underline">
                                <span class="link-text">Prototipo de aplicación desarrollada por el equipo hackforfood en la 9ª edición de Hack For Good 2024</span>
                            </a>                            
                        </div>
                    </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Page Footer End -->
    </div>
    <!-- Page Wrapper End -->

    <!-- Custom Cursor Container -->
    <div class="cursor"></div>
    <!-- Custom Cursor Normal -->
    <div class="cursor--normal"><span class="cursor--normal__content normalCursor"></span></div>
    <!-- Custom Cursor Link -->
    <div class="cursor--link"><span class="cursor--normal__content linkCursor"><svg width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M94.2036 32.4717V31.2646L93.35 32.1182L13.7302 111.738L1.29888 99.3067L80.9095 19.6869L81.7629 18.8333H80.5559H10.5786V1.25H111.787V102.458H94.2036V32.4717Z" stroke="white"/></svg></span></div>

    <!-- Case Hover -->
    <div class="global-cases-img">
        <img src="static/images/case/case-hover.jpg" alt="Case">
    </div>

    <!--== Jquery ==-->
    <script src="static/js/jquery.min.js"></script>
    <!--== Bootstrap ==-->
    <script src="static/js/bootstrap-5.0.2.min.js"></script>
    <!--== Bootstrap ==-->
    <script src="static/js/swiper.min.js"></script>
    <!--== Gsap ==-->
    <script src="static/js/gsap.min.js"></script>
    <!--== Scroll Trigger ==-->
    <script src="static/js/ScrollTrigger.js"></script>
    <!--== Custom Script ==-->
    <script src="static/js/main.js"></script>
</body>
</html>
